/*! HTML5 Boilerplate v5.2.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #ff6600;
    text-shadow: 5px 5px 0 rgba(0,0,0,.3);
}

::selection {
    background: #ff6600;
    text-shadow: 5px 5px 0 rgba(0,0,0,.3);
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*GENERAL WRAPPERS & STYLE*/
    *{
        color: rgba(255,255,255,1);
        font-family: 'PT Sans', sans-serif;
    }

    body{
        background-color: #000;
    }

    #fullWrapper{
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    #sectionsWrapper{
        position: absolute;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
    }

    .rfSections{
        position: relative;
        width: 100%;
        height: 100%;
        min-height: 750px;
        float: left;
        
    }

    .rfSectionTitle{
        position: relative;
        width: 100%;
        height: 50px;
        text-transform: uppercase;
        margin: 0;
        font-size: 1.7em;
    }
/*END GENERAL WRAPPERS*/

/*HEADER*/
    #menuHeader{
        position: fixed;
        width: 100%;
        height: 78px;
        background-color: rgba(0,0,0,1);
        z-index: 1000000000;
    }

        #menuHeader li{
            position: relative;
            width: 20%;
            height: 100%;
            line-height: 78px;
            display: inline-block;
            vertical-align: top;
            zoom: 1; /* Fix for IE7 */
            *display: inline; /* Fix for IE7 */
            float: left;
            list-style-type: none;
            text-transform: uppercase;
            text-align: center;
        }
        #menuHeader li:hover{
            background-color: rgba(255,255,255,.5);
        }

        #logoLi a{
            position: absolute;
            width: 100%;
            height: 100%;
        }

        #logoLi img{
            position: absolute;
            margin: auto;
            left: 0; right: 0;
            top: 0; bottom: 0;
        }

            #menuHeader li a{
                display: block;
                text-decoration: none;
    
            }
            #menuHeader li a:hover{
                text-decoration: underline;
            }
/*END HEADER*/

/*HOME // SECTION 1*/
    #section1{
        background: url(../img/bgs/home.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    #homeDescription{
        position: absolute;
        width: 70%;
        height: 30%;
        margin: auto;
        top: 0; bottom: 0;
        left: 0; right: 0;
        text-align: center;
        
    }

        #homeDescription h1{
            text-transform: uppercase;
            font-size: 3.5em;
            line-height: 1em;
            margin: 0;
            text-shadow: 3px 3px 0 rgba(0,0,0,1);
        }
        #homeDescription h2{
            width: 50%;
            margin: auto;
            margin-top: 30px;
            font-weight: 400;
            font-size: 1.2em;
            -webkit-font-smoothing: antialiased;
               -moz-font-smoothing: antialiased;
                -ms-font-smoothing: antialiased;
                 -o-font-smoothing: antialiased;
                    font-smoothing: antialiased;
        }


    #homeServiceList{
        position: absolute;
        width: 70%;
        height: 30%;
        margin: auto;
        left: 0; right: 0;
        top: 70%;
    }
        #homeServiceList li{
            position: relative;
            width: 25%;
            height: 30px;/*
            overflow: hidden;*/
            display: inline-block;
            vertical-align: top;
            zoom: 1; /* Fix for IE7 */
            *display: inline; /* Fix for IE7 */
            float: left;

        }

        #homeServiceList li:nth-child(2){
            margin: 0 12.5%;
        }

            #homeServiceList li .sTitle{
                position: absolute;
                width: 100%;
                background-color: rgba(0,0,0,1);
                line-height: 30px;
                text-align: center;
                text-transform: uppercase;
            }

            #homeServiceList li .sContent{
                position: absolute;
                width: 90%;
                max-height: 110px;
                padding: 50px 5% 20px 5%;
                z-index: 1;
                background-color: rgba(0,0,0,.5);

                opacity: 1;
                filter: alpha(opacity=1);
            }
                #homeServiceList li .sContent:hover{
                    opacity: 1;
                    filter: alpha(opacity=1);
                }
/*END HOME // S1*/

/*NOSOTROS // SECTION 2*/
    #section2{
        background: url(../img/bgs/us.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    #nosotrosWrap{
        position: absolute;
        width: 50%;
        height: 70%;
        margin: auto;
        top: 0; bottom: 0;
        left: 0; right: 0;
    }

        #nosotrosWrap .halfColumn{
            position: relative;
            float: left;
            width: 50%;
            height: 100%;

        }
            #nosotrosWrap .halfColumn h4{
                text-transform: uppercase;
            }
            #nosotrosWrap .halfColumn p{
                width: 80%;
                padding: 2% 10% 10% 10%;
                -webkit-font-smoothing: antialiased;
                   -moz-font-smoothing: antialiased;
                    -ms-font-smoothing: antialiased;
                     -o-font-smoothing: antialiased;
                        font-smoothing: antialiased;
            }
/*END NOS // S2*/

/*SERVICIOS // SECTION 3*/  
    #section3{
        background: url(../img/bgs/services.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

    #serviceWrap{
        position: absolute;
        width: 80%;
        height: 70%;
        margin: auto;
        top: 0; bottom: 0;
        left: 0; right: 0;
    }

        #serviceWrap .servicesList{
            position: relative;
            width: 100%;
            height: 42px;
            overflow: hidden;

            -webkit-font-smoothing: antialiased;
               -moz-font-smoothing: antialiased;
                -ms-font-smoothing: antialiased;
                 -o-font-smoothing: antialiased;
                    font-smoothing: antialiased;
        }
            #serviceWrap .servicesList h4{
                display: initial;
                position: relative;
                width: auto;
                height: 50px;
                line-height: 50px;
                padding: 8px 15px;
                text-transform: uppercase;
                background-color: rgba(0,0,0,1);
                cursor: pointer;
            }
            #serviceWrap .servicesList p{
                padding-left: 15px;
            }
                #serviceWrap .servicesList .thirdColumn{
                    position: relative;
                    width: 30%;
                    float: left;
                    padding-left: 20px;
                }
                    #serviceWrap .servicesList .thirdColumn span{
                        margin-left: -20px;
                        font-weight: 700;
                        text-decoration: underline;
                    }
/*END SERV // S3*/

/*BOLSA DE TRABAJO // SECTION 4*/
    #section4{
        background: url(../img/bgs/employment.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

        #bolsaWrap{
            position: absolute;
            width: 70%;
            max-width: 1000px;
            height: 70%;
            margin: auto;
            top: 0; bottom: 0;
            left: 0; right: 0;
        }

            #bolsaWrap .innerBox{
                position: relative;
                width: 100%;
                background-color: rgba(255,0,0,.5);
            }
                #bolsaWrap .innerBox .halfColumn{
                    position: relative;
                    float: left;
                    width: 40%;
                    height: 100%;
                }
                #bolsaWrap .innerBox .halfColumn:first-child{
                    margin-right: 20%;
                }
                    .bolsaLine{
                        margin-bottom: 10px;
                        text-shadow: none;
                    }
                        .bolsaLine label{
                            text-transform: uppercase;
                            font-size: 1em;
                            cursor: inherit;
                        }

                        .bolsaLine input{
                            position: absolute;
                            right: 0;
                            background-color: transparent;
                            border: none;
                            border-bottom: 2px solid #000;
                        }
                        .bolsaLine input, .bolsaLine select{
                            -webkit-font-smoothing: antialiased;
                               -moz-font-smoothing: antialiased;
                                -ms-font-smoothing: antialiased;
                                 -o-font-smoothing: antialiased;
                                    font-smoothing: antialiased;
                        }
                        .minLabel{
                            text-transform: none !important;
                            font-size: .8em !important;
                            margin-bottom: 0;
                        }
                        .xminLabel{
                            text-transform: none !important;
                            font-size: .6em !important;
                        }

                    /*FORM INPUT STYLING*/
                        #formName input{
                            width: 75%;
                        }
                        #formAge input, #formMail input {
                            width: 82%;
                        }
                        #formPhone input, #formAdd input {
                            width: 70%;
                        }

                        #formCar select{
                            position: absolute;
                            right: 0;
                            background-color: rgba(0,0,0,.5);
                            box-shadow: 2px 2px 0 rgba(0,0,0,.8);
                            border-radius: 0px !important;
                            border: none;
                        }

                        #formProgram input{
                            width: 39%;
                        }

                        /*SECOND HALF*/

                        #formCareer{
                            margin-bottom: 30px;
                        }
                        #formCareer input{
                            width: 73%;
                        }
                            #schoolGroup .bolsaLine{
                                margin-bottom: 0;
                            }
                            #schoolGroup input{
                                width: 20px;
                                height: 20px;
                            }
                            #schoolGroup label span{
                                font-size: .8em;
                                text-transform: none;
                                margin: 0;
                            }
                            #schoolGroup .bolsaLine:last-child{
                                margin-bottom: 30px;
                            }


                        #formExperience .bolsaLine{
                            margin-bottom: 20px;
                        }
                        #formExperience input{
                            width: 56%;
                        }
                        #formExperience .innerLabel{
                            text-transform: none !important;
                            font-size: .8em !important;
                        }
                        #formExperience select{
                            font-size: .8em;
                        }
                        #formDateIn label, #formDateOut label {
                            margin-right: 7%;
                        }
                        #formDateIn select, #formDateOut select{
                            background-color: rgba(0,0,0,.5);
                            box-shadow: 2px 2px 0 rgba(0,0,0,.8);
                            border-radius: 0px !important;
                            border: none;
                        }
                        #formActivities {
                            margin-bottom: 30px;
                        }
                        #formActivities textarea{
                            width: 100%;
                            max-height: 100px;
                            margin-top: 5px;
                            background-color: transparent;
                            border: none;
                            border: 2px solid #000;
                            -webkit-font-smoothing: antialiased;
                               -moz-font-smoothing: antialiased;
                                -ms-font-smoothing: antialiased;
                                 -o-font-smoothing: antialiased;
                                    font-smoothing: antialiased;
                        }

                    /*END FORM INPUTS*/

                    .attachFile{
                        position: relative;
                        width: 98px;
                        height: 24px;
                        line-height: 24px;
                        float: left;
                        margin-right: 10px;
                        overflow: hidden;
                    }
                        .attachFile .fakeButton{
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            text-align: center;
                            background-color: rgba(20,20,20,1);
                            font-size: .8em;
                            float: left;
                            
                        }
                        .attachFile input{
                            position: absolute;
                            display: block;
                            width: 100%;
                            height: 100%;
                            opacity: 0;
                            filter: alpha(opacity=0) !important;
                            z-index: 1;
                        }
                        #attachCV .xminLabel{
                            line-height: 1.4em !important;
                        }

                        #inSubmit{
                            width: 100px;
                            text-align: center;
                            font-weight: bolder;
                            background-color: rgba(20,20,20,1);
                        }
                        #inSubmit:hover{
                            background-color: rgba(100,100,100,.8);
                        }
/*END BOLSA // S4*/

/*CONTACTO // SECTION 5*/
    #section5{
        background: url(../img/bgs/contact.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }

        #contactWrap{
            position: absolute;
            width: 80%;
            height: 70%;
            margin: auto;
            top: 0; bottom: 0;
            left: 0; right: 0;
        }

            #contactWrap .innerBox{
                position: relative;
                width: 100%;
            }

                #contactWrap .innerBox form{
                    position: relative;
                    width: 100%;
                    height: auto;
                    float: left;
                    
                }

                    #contactWrap .innerBox form .contactLine{
                        position: relative;
                        width: 100%;
                        height: auto;
                        float: left;
                        margin-bottom: 5px;
                    }

                        #contactWrap .innerBox form .contactLine label{
                            position: relative;
                            float: left;
                            width: 8%;
                            text-transform: uppercase;
                        }
                        #contactWrap .innerBox form .contactLine input, #contactWrap .innerBox form .contactLine textarea{
                            position: relative;
                            float: left;
                            width: 92%;
                            background-color: rgba(20,20,20,.8);
                            border: none;
                            -webkit-font-smoothing: antialiased;
                               -moz-font-smoothing: antialiased;
                                -ms-font-smoothing: antialiased;
                                 -o-font-smoothing: antialiased;
                                    font-smoothing: antialiased;
                        }
                        #contactWrap .innerBox form .contactLine input:focus, #contactWrap .innerBox form .contactLine textarea:focus{
                            background-color: rgba(20,20,20,1);
                        }
                        #conSubmitLine{
                            position: relative;
                            float: left;
                            width: 100px;
                            height: 50px;
                            padding-left: 8%;
                            margin-top: 30px;
                        }
                            #conSubmitLine input{
                                width: 100%;
                                background-color: rgba(0,0,0,1);
                                border: none;
                                padding: 5px 10px;
                            }
                            #conSubmitLine input:hover{
                                background-color: rgba(100,100,100,.8);
                            }
                
                #contactWrap .innerBox .contactData{
                    position: relative;
                    width: 100%;
                    height: auto;
                    float: left;
                    margin-top: 50px;
                }
                    #contactWrap .innerBox .contactData .thirdColumn{
                        position: relative;
                        float: left;
                        width: 30%;
                        margin-right: 3.33%;
                    }
                        #contactWrap .innerBox .contactData .thirdColumn .contactTitle{
                            font-size: 1em;
                            text-transform: uppercase;
                            margin: 0;
                        }

                        #contactWrap .innerBox .contactData .thirdColumn p{
                            margin: 0 0 10px 0;
                        }

                        #contactWrap .innerBox .contactData .thirdColumn .contactBtn{
                            position: relative;
                            display: inline-block;
                            background-color: rgba(0,0,0,1);
                            text-transform: uppercase;
                            text-decoration: none;
                            padding: 5px 10px;
                            margin-bottom: 5px;
                        }
                        #mailRivas{
                            text-decoration: none;
                            color: #fff;
                        }
                        #contactWrap .innerBox .contactData .thirdColumn .contactBtn:hover, #mailRivas:hover{
                            text-decoration: underline;
                        }
/*END CONTACTO // S5*/




/*ANIMATION CLASSES*/
    .easeInOut{
        -webkit-transition: all .4s ease-in-out;
           -moz-transition: all .4s ease-in-out;
            -ms-transition: all .4s ease-in-out;
             -o-transition: all .4s ease-in-out;
                transition: all .4s ease-in-out;
    }

    .crystal{
        opacity: 0 !important;
        filter: alpha(opacity=0) !important;
    }

    .tdropShadow{
        text-shadow: 1px 2px 0 rgba(0,0,0,1);
    }

    .showService{
        height: auto !important;
    }
/*END ANIMATION*/




/*RESPONSIVE CLASSES*/

    /*LAPTOP STYLE*/
    @media (max-width: 1299px){
        /*HOME SECTION // S1*/
            #homeDescription{
                width: 90%;
            }
            #homeDescription h1{
                font-size: 3.2em;
            }
            
            #homeDescription h2{
                width: 70%;
                margin-top: 10px;
            }
        /*END HOME // S1*/


        /*S2*/
            #nosotrosWrap{
                width: 80%;
            }
        /*END S2*/


        /*S3*/
            #formProgram input{
                width: 41%;
            }
            #formExperience input{
                width: 51%;
            }
        /*END S3*/


        /*S4*/
            #bolsaWrap{
                width: 85%;
            }
        /*END S4*/


        /*S5*/
            #contactWrap .innerBox form .contactLine label{
                width: 12%;
            }
            #contactWrap .innerBox form .contactLine input, #contactWrap .innerBox form .contactLine textarea{
                width: 88%;
            }
            #conSubmitLine{
                padding-left: 12%;
            }
            #contactWrap .innerBox .contactData .thirdColumn{
                width: 33.33%;
                margin-right: 0;
            }
        /*END S5*/
    }
    
    /*TABLET STYLE*/
    @media (max-width: 1024px) and (min-width: 768px){
        /*HEADER*/
            #menuHeader{
                height: 65px;
            }

            #menuHeader li{
                width: 17%;
                font-size: .8em;
                line-height: 65px;
            }
            #menuHeader #logoLi{
                width: 32%;
            }
        /*END HEADER*/


        /*HOME // S1*/
            #homeServiceList li{
                width: 30%;
            }

            #homeServiceList li:nth-child(2){
                margin: 0 5%;
            }
        /*END // S1*/


        /*EMPLOYMENT // S4*/
            #bolsaWrap .innerBox .halfColumn{
                width: 42.5%;
            }

            #bolsaWrap .innerBox .halfColumn:first-child{
                margin-right: 5%;
            }

            #formProgram input{
                position: relative;
                width: 100%;
                float: left;
            }

            #formProgram label, #formDateIn label, #formDateOut label{
                width: 100%;
                float: left;
            }
        /*END S4*/


        /*CONTACT // S5*/
            #contactWrap .innerBox .contactData .thirdColumn p{
                padding-right: 30px;
            }
        /*END S5*/
    }
    /*TABLET PORTRAIT STYLE*/
    @media (max-width: 1024px) and (min-width: 768px) and (orientation:portrait){
        /*CONTACT // S5*/
            #contactWrap .innerBox .contactData .thirdColumn{
                width: 100%;
                margin-bottom: 30px;
            }
        /*END S5*/
    }
    
    /*MOBILE STYLE*/
    @media (max-width: 767px){
        /*HEADER*/
            #menuHeader{
                display: none;
                visibility: hidden;
                opacity: 0;
                filter: alpha(opacity=0);
            }
        /*END HEADER*/

        /* GENERAL WRAPPERS */
            .rfSections{
                min-height: 480px;
            }
            .rfSectionTitle{
                height: 30px;
                font-size: 1.4em;
            }
        /* END GENERAL WRAPPERS */

        /* HOME // SECTION 1 */
            #homeDescription{
                height: 96px;
                bottom: 30%;
            }
            #homeDescription h1{
                font-size: 1.5em;
            }
            #homeDescription h2{
                font-size: .9em;
            }

            #homeServiceList{
                width: 90%;
                height: 10%;
                top: 75%;
            }
            #homeServiceList li .sTitle{
                font-size: .7em;
                line-height: 1.2em;
                padding: 10px 5px;
            }
        /* END S1*/


        /* ABOUT US // SECTION 2 */
            #section2{
                height: 250%;
                max-height: 1030px;
            }
            #nosotrosWrap{
                width: 85%;
                height: 90%;
            }

            #nosotrosWrap .halfColumn{
                width: 100%;
                height: auto;
            }
            #nosotrosWrap .halfColumn h4{
                margin: 10px 0;
            }
            #nosotrosWrap .halfColumn p{
                font-size: .8em;
            }
        /* END S2 */


        /* SERVICES // SECTION 3 */
            #section3{
                height: 205%;
                max-height: 888px;
            }

            #serviceWrap{
                width: 85%;
                height: 90%;
            }

            #serviceWrap .servicesList .thirdColumn{
                width: 90%;
            }

            #serviceWrap .servicesList{
                font-size: .8em;
            }
        /* END S3*/


        /* EMPLOYMENT // SECTION 4 */
            #section4{
                height: 270%;
                max-height: 1300px;
            }

            #bolsaWrap{
                height: 90%;
            }

            #bolsaWrap .innerBox .halfColumn{
                width: 100%;
                height: auto;
            }
            #bolsaWrap .innerBox .halfColumn:first-child{
                margin-right: 0;
            }
            #bolsaWrap .innerBox .halfColumn .bolsaLine label{
                width: 100%;
                float: left;
                font-size: .9em;
            }

            #bolsaWrap .innerBox .halfColumn input, #bolsaWrap .innerBox .halfColumn select, #bolsaWrap .innerBox .halfColumn textarea{
                position: relative;
                width: 100%;
                font-size: .9em;
            }

            .attachFile{
                width: 118px;
                height: 34px;
                line-height: 34px;
                font-size: .9em;
            }

            #attachCV .xminLabel{
                width: auto !important;
            }

            #inSubmit{
                margin-top: 30px;
                height: 34px;
                line-height: 34px;
            }
        /* END S4 */


        /* CONTACT // SECTION 5 */
            #section5{
                height: 200%;
                max-height: 955px;
            }

            #contactWrap{
                width: 85%;
                height: 90%;
            }

            #contactWrap .innerBox form .contactLine label{
                width: 100%;
                float: left;
            }
            #contactWrap .innerBox form .contactLine input, #contactWrap .innerBox form .contactLine textarea{
                position: relative;
                width: 100%;
                margin-bottom: 10px;
            }
            #conSubmitLine{
                width: 100%;
                padding-left: 0;
            }

            #contactWrap .innerBox .contactData .thirdColumn{
                width: 100%;
                margin-bottom: 10px;
                -webkit-font-smoothing: antialiased;
                   -moz-font-smoothing: antialiased;
                    -ms-font-smoothing: antialiased;
                     -o-font-smoothing: antialiased;
                        font-smoothing: antialiased;
            }
            #contactWrap .innerBox .contactData .thirdColumn .contactBtn{
                width: 80%;
                padding: 5px 10%;
                text-align: center;
            }
            #mailRivas{
                text-decoration: underline;
            }
        /* END S5 */
    }


    /* MOBILE LANDSCAPE STYLING */
    @media (max-width: 767px) and (orientation:landscape){
        /* ABOUT US // SECTION 2 */
            #section2{
                max-height: 800px;
            }
        /*END S2 */


        /* SERVICES // SECTION 3*/
            #section3{
                max-height: 656px;
            }

            #serviceWrap .servicesList .thirdColumn{
                width: 25%;
                margin-right: 3%;
            }
        /* END S3 */


        /* EMPLOYMENT // SECTION 4 */
            #section4{
                height: 400%;
                max-height: 1280px;  
            }
        /* END S4 */


        /* CONTACT // SECTION 5 */
            #section5{
                height: 290%;
            }
        /* END S5 */
    }

    
/*END RESPONSIVE CLASSES*/







/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 */

.hidden {
    display: none !important;
}



@media (min-width: 768px){
    .onlyMobile{
        display: none;
        visibility: hidden;
        opacity: 0;
        filter: alpha(opacity=0);
    }
}


/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
